<form method="post" action="{{ path('accio_delete', {'id': accio.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ accio.id) }}">
    <button class="btn">Delete</button>
</form>
