{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">

            <div class="col-12 mt-5">
                <h5 class="mt-4">Oops... Pareix que alguna cosa ha sortit mal :P.
                    No es pot accedir a aquesta pagina.</h5>

                <a href="/" class="btn bg-blue mt-2">Torna enrere</a>
            </div>
        </div>
    </div>



{% endblock %}